.row
  .col-lg-12
    %h1.page-header Teach your children the value of work!

  .col-md-4
    .panel.panel-default
      .panel-heading
        %h4 You set up the tasks

      .panel-body.text-center
        = image_tag "tasks.png", class: "img-responsive"

  .col-md-4
    .panel.panel-default
      .panel-heading
        %h4 Your child records them daily

      .panel-body.text-center
        = image_tag "recording.png", class: "img-responsive"

  .col-md-4
    .panel.panel-default
      .panel-heading
        %h4 Then you get an invoice!

      .panel-body.text-center
        = image_tag "invoice.png", class: "img-responsive"

  .clearfix

  .col-lg-12.text-center
    %a(href="http://app.childwork.rocks/sign-up" class="btn btn-success btn-lg") Sign up now!
